.clearfix {
   content: '';
   display: table;
   clear: both;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar ul a {
    color: #031b4e;
    font-size: 15px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #031b4e;
}

.navbar-brand img {
    width: 170px;
    transform: translateY(-55px);
    margin-right: 85px;
}

.nav button {
    transform: translateY(10px);
    border-color: #0069ff;
    color: #0069ff;
    font-weight: bold;
}

/* FINE NAVBAR */

.fascia--blu {
    background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
    background-size: cover;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 55px;
    padding-left: 80px;
    padding-top: 50px;
}

.welcome {
    float: left;
    padding-right: 150px;
}

.welcome p {
    color: #ffffff;
    padding-left: 80px;
}

.banner {
    float: left;
    padding-left: 60px;
}
.banner form {
    width: 450px;
    background-color: #ffffff;
    padding: 28px;
    margin: 25px;
    border-radius: 2%;
}

form .testo--banner {
    text-align: center;
    margin-bottom: 20px;
}

.testo--banner h2 {
    color: #031b4e;
    font-weight: bold;
    font-size: 25px;
}

.testo--banner h3 {
    color: #0069ff;
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
}

form button.btn {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    margin-bottom: 15px;
}
